<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.samsinite.redraw"
	version="1.0.2">

	<name>ReDraw</name>
	<author>Sam Clopton</author>

	<keywords>webview,redraw</keywords>

	<description>
		This plugin allows your application to ask android to redraw the web view since it likes to optionally redraw when under load.
	</description>

	<license>MIT</license>
	<engines>
		<engine name="cordova-android" version=">=3.0.0" />
	</engines>

	<js-module src="www/redraw.js" name="Redraw">
		<clobbers target="webview.redraw" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Redraw">
				<param name="android-package" value="com.samsinite.redraw"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<js-module src="www/android_redraw.js" name="Redraw">
			<clobbers target="webview.redraw" />
		</js-module>

		<source-file src="src/android/Redraw.java" target-dir="src/com/samsinite/redraw/" />
	</platform>

</plugin>
